%h1 Listing import_one_asses

%table
  %thead
    %tr
      %th Import xml
      %th Offers xml
      %th
      %th
      %th
      %th
      %th

  %tbody
    - @import_one_asses.each do |import_one_ass|
      %tr
        %td= link_to 'Import xml', "#{import_one_asses_path}/#{import_one_ass.id}?i=true"
        %td= link_to 'Offers xml', "#{import_one_asses_path}/#{import_one_ass.id}?o=true"
        %td= link_to 'Import xml', "#{import_one_ass_path(import_one_ass)}?i=true"
        %td= link_to 'Offers xml', "#{import_one_ass_path(import_one_ass)}?o=true"
        %td= link_to 'Destroy', import_one_ass, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Import one ass', new_import_one_ass_path
